<!DOCTYPE html>
<html>
<head>
<title>Password</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}

</style>
</head>
<body>

<div class="w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Created by Thunder 👤 DAN
  </div><br><br>
  <div class="w3-display-middle">
      <form action="password">
        <select name="length">
            <option value='5'>5</option>
            <option value='10'>10</option>
            <option value='15'>15</option>
            <option value='100'>100</option>
        </select>
    <input type="submit" value="Enter">
      </form>
      <p>{{ password }}</p>
    <h1 class="w3-jumbo w3-animate-center">COMING SOON</h1>
  </div>
</div>

</body>
</html>