<!DOCTYPE html>
<html lang="en">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
    crossorigin="anonymous"
  />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your New Password</title>
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <div class="container text-center">

        <img src="https://previews.dropbox.com/p/thumb/ABfUThq2DoLqqgpOL1JijUBM_lXcM4pTI6aafJp9mE5HJPx4_GeObukGxq9Pw9kR_385pllNjmv5x62tIO5bxx1Mr3cQUtAsGYAqpIksDf6PYoGfaMxPAhS8T6qIjOzHWaDSaSOFiDD2vd-7Mdb2ABpozAzdJzT2CggFuPGbOi-m7017JSu34j9NKPJpJn09AMelvP89O1Na_4hDMzXlFYPwmo2QLLpR7_n7mLBFgF_GcmJTojoakJVHtfnAE2TJABXgUZH12IKEiah8Natr5zk3jc6oFKxghDyKmNBzAaFx2GdVYBOUacsN-XR_wh_o36kLOqDr80Rbb1FQq_BKrJGs-DnPPwPWLTZTCp-S7jP466fTPu_RzfWCtxPO2Ga1Sp4/p.png">
        <BR><BR>
            <h1 class="alert alert-success">{{  password  }}</h1>
        </div>
</body>
</html>


